<html></html>
('Prix.hanyang.ac.kr' as 'PRoteome InformatiX'), in accordance with the Personal Information Protection Act, protects the personal information of users and protects the rights and interests of users related to personal information. The pocliy follows below: <br>
('PRoteome InformatiX') will notify you through website announcements (or individual notices) if we revise your privacy policy.<br>
This policy will be effective from April 1, 2017.<br><br>

<h4>1. Purpose of personal information is the following (The processed personal information will not be used for any purpose other than the following purposes and will be subject to prior agreement if the purpose of use is changed):</h4>
1) Homepage membership and management <br>
We will handle personal information for the purpose of confirming membership registration, maintaining and managing membership. <br><br>

<h4>2. Personal Information File Status</h4>
1) Personal information file name: Personal information processing policy<br>
- Personal information items: password, and login ID<br>
- How to collect: Homepage<br>
- Possible basis: Account management for homepage service distribution<br>
- Retention period: permanent (unless you delete your account)<br><br>

<h4>3. Processing and Retention Period of Personal Information</h4>
1) ('PRoteome InformatiX') will process and retain personal information within the period of holding and using personal information in accordance with statute, or during the period of using or maintaining personal information agreed upon when collecting personal information from information subject.<br>
2) Each personal information processing and retention period is as follows.<br>
(1) Homepage membership and management<br>
Personal information related to "homepage registration and management" will be held and used for the above purposes from the consent of collection and use unless you delete your account.<br>
- Possible basis: Account management for homepage service distribution<br><br>

<h4>4. Matters concerning the provision of third parties of personal information</h4>
1) ('prix.hanyang.ac.kr' or 'PRoteome InformatiX') shall not disclose personal information only if it complies with Articles 17 and 18 of the Personal Information Protection Act, such as the consent of the information subject, To the person.<br>
2) ('prix.hanyang.ac.kr') does not provide personal information to anyone.<br><br>

<h4>5. Commitment to personal information processing</h4>
1) ('PRoteome InformatiX') does not consign the personal information.<br>
(1) ('prix.hanyang.ac.kr', 'PRoteome InformatiX') is prohibited to process personal information except for the purpose of carrying out contracted business pursuant to Article 25 of the Personal Information Protection Act, technical and administrative protection measures, reassignment Limitations, management of the trustee, supervision, compensation for damages, etc., in documents such as contracts, and supervises whether the trustee handles personal information securely.<br>
(2) If the contents of the consignment service or the consignee change, we will disclose it through this personal information processing policy without delay.<br><br>

<h4>6. Rights, duties, and methods of exercising the rights of information subjects As a personal information subject, users can exercise the following rights.</h4>
1) The information subject can exercise the privacy rights of Hanyang university BISlab ('prix.hanyang.ac.kr' or 'PRoteome InformatiX') at any time in the following paragraphs.<br>
(1) Personal information request<br>
(2) If there is an error, request correction<br>
(3) Delete request<br>
(4) Process stop request<br>
2) The exercise of the rights pursuant to Paragraph (1) shall take place in accordance with the Form 8 of the Enforcement Regulations of the Personal Information Protection Act with respect to the Hanyang university BISlab ('prix.hanyang.ac.kr' or 'PRoteome InformatiX' ), And agency / company name ('site URL' or 'site name') will be able to take action without delay.<br>
3) If the information subject has requested correction or deletion of personal information, the name of organization / company ('site URL' or 'site name') shall not be changed until the correction or deletion is completed. We do not use or provide.<br>
4) The exercise of the rights under Paragraph (1) may be made through the legal representative of the information entity or an agent such as the person who has been delegated. In this case, you must submit a power of attorney according to Form 11 of the Enforcement Regulations of the Personal Information Protection Act.<br><br>

<h4>7. Creating an item of personal information to process</h4>
1) ('prix.hanyang.ac.kr', 'PRoteome InformatiX') is processing the following personal information items.<br>
(1) Homepage membership and management<br>
- Required: Password, Login ID<br><br>

<h4>8. Destruction of personal information ('PRoteome InformatiX'), in principle, if the purpose of processing personal information is achieved without delay will destroy the personal information. The procedures, deadlines and methods of destruction are as follows.</h4>
- Destruction Procedures Information entered by the user is transferred to a separate DB after completion of the purpose (separate documents in the case of paper) and is stored or temporarily destroyed after a certain period of time according to internal policies and other related laws. In this case, the personal information transferred to the DB will not be used for any other purpose unless it is under the law. - Time for cancellation If the personal information of the user is overdue, within 5 days from the end of the period, We will destroy the personal information within 5 days from the day when it becomes unnecessary to process personal information when it becomes unnecessary such as accomplishing purpose of processing personal information, abolition of concerned service, end of business.<br>
- Destruction method<br>
Information in the form of electronic files uses technical methods that can not reproduce records.<br><br>

<h4>9. Measures to Ensure the Security of Personal Information ('PRoteome InformatiX'), pursuant to Article 29 of the Personal Information Protection Act, have the following technical, administrative and physical measures to ensure safety.</h4>
1) Regular self-audit conducted<br>
We conduct our own audits regularly (quarterly) to ensure the safety of handling personal information.<br>
2) Establishment and enforcement of internal management plan<br>
We have established and implemented an internal management plan for the safe handling of personal information.<br>
3) Encryption of personal information<br>
The personal information of the user is encrypted and stored and managed so that only the user can know it, and the important data uses separate security functions such as encrypting the file and transmission data or using the file lock function.<br>
4) Access control to unauthorized persons<br>
We have set up a separate physical storage area for personal information, and set up access control procedures.<br><br>

<h4>10. Wrote Personal Information Protection Officer</h4>
1) Hanyang university BISlab ('prix.hanyang.ac.kr', hereinafter referred to as 'PRoteome InformatiX') is responsible for handling personal information processing, handling complaints about information processing related to personal information processing, We have designated the person responsible for personal information protection as follows.<br>
Personal information protection officer<br>
Name: Choi Seung Hyuk<br>
Position: Page Manager<br>
Position: Student<br>
Contact: 0222204704, prix@hanyang.ac.kr,<br>
* It leads to the personal information protection department.<br>
2) The information subject is to inform all personal information protection inquiries, complaints, damages remedies, etc. that occurred while using service (or business) of Hanyang university BISlab ('prix.hanyang.ac.kr', 'PRoteome InformatiX' You can contact the person in charge of protection and the responsible department. Hanyang university BISlab ('prix.hanyang.ac.kr', 'PRoteome InformatiX') will respond to inquiries of information subject without delay and handle it.<br><br>

<h4>11. Change of personal information processing policy</h4>
1) This personal information processing policy will be applied from the effective date. If there are additions, deletions and corrections of the changes according to laws and policies, they will be announced from 7 days before the change.<br>
</html>