<table
  height="100%"
  border="0"
  cellpadding="0"
  cellspacing="0"
  th:fragment="download_menu"
>
  <tr>
    <td height="53">
      <img src="/images/subtit03.gif" width="161" height="53" />
    </td>
  </tr>

  <tr>
    <td height="10"></td>
  </tr>

  <!-- ACTG -->
  <tr>
    <td height="5"></td>
  </tr>

  <tr>
    <td height="21">
      &nbsp;&nbsp;&nbsp;&nbsp;<img
        src="/images/icon_5.gif"
        width="6"
        height="10"
      />&nbsp;&nbsp;<a href="/download/ACTG" class="menu">ACTG</a>
    </td>
  </tr>

  <!-- Cygate -->
  <tr>
    <td height="5"></td>
  </tr>

  <tr>
    <td height="21">
      &nbsp;&nbsp;&nbsp;&nbsp;<img
        src="/images/icon_5.gif"
        width="6"
        height="10"
      />&nbsp;&nbsp;<a href="/download/Cygate" class="menu">CyGate</a>
    </td>
  </tr>

  <!-- DBond -->

  <tr>
    <td height="5"></td>
  </tr>

  <tr>
    <td height="21">
      &nbsp;&nbsp;&nbsp;&nbsp;<img
        src="/images/icon_5.gif"
        width="6"
        height="10"
      />&nbsp;&nbsp;<a href="/download/dbond" class="menu">DBond</a>
    </td>
  </tr>

  <!-- DbyDeep -->
  <tr>
    <td height="5"></td>
  </tr>

  <tr>
    <td height="21">
      &nbsp;&nbsp;&nbsp;&nbsp;<img
        src="/images/icon_5.gif"
        width="6"
        height="10"
      />&nbsp;&nbsp;<a href="/download/dbydeep" class="menu">DbyDeep</a>
    </td>
  </tr>

  <!-- deephos -->
  <tr>
    <td height="5"></td>
  </tr>

  <tr>
    <td height="21">
      &nbsp;&nbsp;&nbsp;&nbsp;<img
        src="/images/icon_5.gif"
        width="6"
        height="10"
      />&nbsp;&nbsp;<a href="/download/deephos" class="menu">Deephos</a>
    </td>
  </tr>

  <!-- deMix -->

  <tr>
    <td height="5"></td>
  </tr>

  <tr>
    <td height="21">
      &nbsp;&nbsp;&nbsp;&nbsp;<img
        src="/images/icon_5.gif"
        width="6"
        height="10"
      />&nbsp;&nbsp;<a href="/download/demix" class="menu">deMix</a>
    </td>
  </tr>

  <!-- MODa -->

  <!--<tr>
    <td height="5"></td>
  </tr>

  <tr>
    <td height="21">
      &nbsp;&nbsp;&nbsp;&nbsp;<img
        src="/images/icon_5.gif"
        width="6"
        height="10"
      />&nbsp;&nbsp;<a href="/download/moda" class="menu">MODa</a>
    </td>
  </tr> -->

  <!-- MODplus -->

  <tr>
    <td height="5"></td>
  </tr>

  <tr>
    <td height="21">
      &nbsp;&nbsp;&nbsp;&nbsp;<img
        src="/images/icon_5.gif"
        width="6"
        height="10"
      />&nbsp;&nbsp;<a href="/download/modplus" class="menu">MODplus</a>
    </td>
  </tr>

  <!-- MutCombinator -->
  <tr>
    <td height="5"></td>
  </tr>

  <tr>
    <td height="21">
      &nbsp;&nbsp;&nbsp;&nbsp;<img
        src="/images/icon_5.gif"
        width="6"
        height="10"
      />&nbsp;&nbsp;<a href="/download/mutcombinator" class="menu"
        >MutCombinator</a
      >
    </td>
  </tr>

  <!-- pXg -->
  <tr>
    <td height="5"></td>
  </tr>

  <tr>
    <td height="21">
      &nbsp;&nbsp;&nbsp;&nbsp;<img
        src="/images/icon_5.gif"
        width="6"
        height="10"
      />&nbsp;&nbsp;<a href="/download/pXg" class="menu">pXg</a>
    </td>
  </tr>

  <!-- RAPID -->

  <tr>
    <td height="5"></td>
  </tr>

  <tr>
    <td height="21">
      &nbsp;&nbsp;&nbsp;&nbsp;<img
        src="/images/icon_5.gif"
        width="6"
        height="10"
      />&nbsp;&nbsp;<a href="/download/rapid" class="menu">RAPID</a>
    </td>
  </tr>

  <!-- TIDD -->

  <tr>
    <td height="5"></td>
  </tr>

  <tr>
    <td height="21">
      &nbsp;&nbsp;&nbsp;&nbsp;<img
        src="/images/icon_5.gif"
        width="6"
        height="10"
      />&nbsp;&nbsp;<a href="/download/tidd" class="menu">TIDD</a>
    </td>
  </tr>

  </table>
