<!DOCTYPE html>
<!-- layout에 해당하는 content, links, scripts로 각각 selector table과 empty fragment, empty fragment를 보냄 -->
<html th:replace="~{inc/layout::layout(~{::table}, ~{}, ~{})}" xmlns:th="http://www.thymeleaf.org">

<table width="990" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td height="100%" width="190" rowspan="2" align="right" valign="top" style="padding-right:15px">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="320" align="center" valign="top"><img th:src="@{/images/subimg01.gif}" width="161"
                            height="277" /></td>
                </tr>
            </table>
        </td>
        <td height="10" valign="top">
            <table border="0" cellspacing="0" cellpadding="0" id="TitTable">
                <tr>
                    <td style="padding-left:15px;">
                        <font class="drakBR" size="4">Welcome! <br />
                    </td>
                    <td align="right" valign="bottom" style="padding-right:5px;">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr th:remove="${session.id != null and session.id != 4} ? none : all">
                                <td><img src="//images/top_icon_01.gif" width="2" height="9"> &nbsp;<a href="/history"
                                        class="menu">History</a> &nbsp; &nbsp;</td>
                                <td><img src="//images/top_icon_01.gif" width="2" height="9"> &nbsp;<a
                                        th:href="@{/login?action=logout}" class="menu">Logout</a> &nbsp; &nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table width="95%" border="0" align="center" cellpadding="1">
                <tr>
                    <td align="left"><img src="/images/p_st1.GIF" width="4" height="9">
                         This site features <font style="color:#990000">MODPlus</font> <font class="drakBR">(advanced version of MODi)</font>, a powerful modification search engine that uses mass spectrometry data to identify protein modifications. MODPlus facilitates cutting-edge proteomics research by extensively searching through hundreds of potential modifications efficiently. Among the existing search tools, MODPlus can take the most number of modifications as its search parameter. <br />
                    </td>
                </tr>
                <tr>
                    <td align="left"><img src="/images/p_st1.GIF" width="4" height="9">
                        <font class="drakBR"> Special search engine for disulfide linkage analysis, <a
                                href="dbond/dbond_search" th:href="@{/dbond/dbond_search}"
                                class="under">DBond</a>.<br />
                    </td>
                </tr>
                <tr>
                    <td align="left">&nbsp;&nbsp;Certain post-translational modifications involve more than one peptide
                        and thus cannot be easily searched by conventional modification search algorithms. We provide
                        specialized software, DBond that can analyze intact disulfide linkage between two peptides.
                        Disulfide linkages not only contribute to the stability of a protein's structure, but it is
                        known to regulate mediation of various signaling pathways in a cell. It is of particular
                        interest to biopharmaceutical industry as disulfide bridge characterization is an important part
                        of acceptance criteria for biological products.
                        <br /><br />
                    </td>
                </tr>
                <tr>
                    <td align="left"><img src="/images/p_st1.GIF" width="4" height="9">
                        <font class="drakBR"> Multi-blind unrestrictive modification search, <a href="download/moda"
                                th:href="@{/download/moda}" class="under">MODa</a>.<br />
                    </td>
                </tr>
                <tr>
                    <td align="left">&nbsp;&nbsp;We provide specialized software, MODa that can search spectra for all
                        possible modifications at once, in unrestrictive mode. MODa is the first practical multi-blind
                        unrestrictive approach for the identification of multiply modified peptides.
                        <br /><br />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</html>